html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}
/**   Botones   **/
.boton:hover{
    background-color: #71B100;
    cursor: pointer;
}
.boton{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem; 
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center; 
    border: none;
    display:block;
    flex: 0 0 100%;
}
@media (min-width: 768) {
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}

/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio {
    background-image: url(img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra {
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #71B100;
}

/** Mobile Menu **/
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

/*  Iconos-nosotros */
@media (min-width: 768px) {
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    }
}
.icono{
    text-align: center; 
}
@media (min-width: 768px) {
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}
.icono h3{
    text-transform: uppercase;
}
/**     Anuncios    **/
@media (min-width: 768px) {
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
}
.contenedor-anuncios .anuncio{
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .contenedor-anuncios .anuncio{
        flex: 0 0 calc(33.3%  -   1rem);
    }    
}
.contenedor-anuncios .anuncio .contenido-anuncio{
    padding: 2rem;
}
.contenedor-anuncios .anuncio .contenido-anuncio h3,
 .contenedor-anuncios .anuncio .contenido-anuncio p{
     margin: 0;
}
.contenedor-anuncios .anuncio .contenido-anuncio .precio{
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content:  space-evenly;
    max-width: 500px;
}
.iconos-caracteristicas li{
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
}
.vertodas{
    display: flex;
    justify-content: flex-end;
}
/*  Contacto Home   */
.imagen-contact{
    background-image: url(../Archivos-Bienes-Raices/img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.imagen-contact .contenido-contacto{
    flex: 0 0 95%;
    color: #fff;
}
.imagen-contact .contenido-contacto p{
    font-size: 1.8rem;
}
/*  Seccion inferior    */
@media (min-width: 768px) {
    .seccion-inferior{
        display: flex !important;
        justify-content: space-between;
    }
    .seccion-inferior .testimoniales{ 
        flex-basis: 40%;
    }
    .seccion-inferior .blog{
        flex-basis: calc(60% - 3rem);
    }
}
.entrada-blog{
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entrada-blog{
        display: flex;
        justify-content: space-between;  
    }   
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .entrada-blog .imagen{
        flex-basis: 40%;
    }
     .entrada-blog .texto-entrada{
        flex-basis: calc(60% - 3rem);
    }
}
.texto-entrada a{
    color: #000;
    text-decoration: none;
}
 .texto-entrada h4{
    margin: 0;
    line-height: 1;
}
.texto-entrada h4::after{
    content: ''; 
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top: 10px;
}
.texto-entrada span{
    color: #E08709;
    font-style: oblique;
}
/*  Testimoniales   */
.testimonial{
    background-color: #71B100;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 2rem;
    padding: 2rem;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content: '';
    background-image: url(../Archivos-Bienes-Raices/img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/** Footer  **/
.site-footer{
    background-color: #333333;
    margin: 0;   
}
.contenedor-footer{
    padding: 3rem 0; 
    text-align: center;
}
@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
    }
}
.contenedor-footer nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block-inline;
    margin-right: 2rem;
}
.contenedor-footer nav a:hover{
    color: #71B100;
}
.contenedor-footer p{
    font-size: 2rem;
}
.copyright{
    margin: 0;
    color: #fff;
}
/**  PAGINAS INTERNAS   **/
/*Nosotros*/
@media (min-width: 768px) {
    .contenido-nosotros{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem;
    }    
}
.contenido-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
/*Anuncio*/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resumen-propiedad p:first-child{
    color: #71B100;
    font-size: 2rem;
}
/*  Contacto    */
form p{
    font-size: 1.5rem;
    color: #4f4f4f;
    margin: 1rem 0 0 0;
}
legend{
    font-size: 2.2rem;
    color: #525252;
}
label{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
input:not([type="submit"]),textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1ee;
    margin-bottom: 2rem;
    border: none;
    border-radius: .5rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}
.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

